.App {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

.form button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.form button:hover {
  background-color: #45a049;
}

.form p {
  margin-top: 10px;
}

.form p button {
  background-color: transparent;
  color: #4CAF50;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.form p button:hover {
  color: #45a049;
}
.message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.error {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 0px;
}
